:host {
    display: grid;
    width: 100%;
}

:host([size="large"]) {
    grid-template-areas: "header header" "navigation navigation" "aside article" "footer footer";
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 8vh 3vh auto 4vh;
    display: grid;
}

:host([size="small"]) {
    grid-template-areas: "header" "navigation" "aside" "article" "footer";
    grid-template-rows: 8vh 3vh auto auto 4vh;
}

:host([size="small"]) > header {
    background-color: #323232;
}

:host([size="small"]) > book-menu > a.mainchapter > a.subchapter {
    font-size: 4vw;
}

:host([size="small"]) > book-menu {
    width: 100vw;
    background-color: white;
    height: 95vh;
}

:host([size="small"]) #navigation {
    margin-left: 0;
}

:host([size="small"]) > book-menu > a.mainchapter {
    font-size: 6vw;
}

:host([size="large"]) > div#navigation > a#navigation {
    font-size: 2vh;
}

:host([size="large"]) a:hover {
    background-color: #faf6e5;
}

/*----------------------------------------------------------*/
.mainchapter {
    border-bottom: 0.5px dotted #a29494;
    font-size: 2vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    display: block;
}

a.mainchapter[active] > a.subchapter {
    display: block;
}

a.subchapter {
    font-size: 1.5vw;
    display: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 1vw;
    background-color: white;
}

/*----------------------------------------------------------*/

article.language-javascript {
    background-color: #e4edfb;
}

header {
    display: inline-flex;
    grid-area: header;
}

#titles {
    background-color: #323232;
    color: white;
    font-family: 'Arial', sans-serif;
    height: 6vh;
    font-size: 4vw;
    width: 100vw;
    grid-area: title;
    line-height: 5vh;
    position: fixed;
}

#navigation {
    background-color: #b5b3a5;
    height: 3vh;
    position: fixed;
    grid-area: navigation;
    margin-left: 20vw;
    margin-top: 8vh;
    padding: 0.5vh;
    font-size: 2.5vh;
    width: 100vw;
    overflow: hidden;
}

#top {
    height: 3vh;
    width: 3vw;
    margin-left: 90vw;
    background-color: red;
}

#menubtn {
    height: 6vh;
    width: 6vh;
    border: 0.1vw solid #fdfafa;
    margin-left: 90vw;
    border-radius: 16%;
    margin-top: 0.5vh;
    position: fixed;
}

.icon {
    background-color: #f5f7f7;
    border-radius: 9%;
    height: 13%;
    margin: 15% 8%;
    width: 84%;
}

a {
    color: #323232;
    font-family: 'Arial', sans-serif;
    overflow-wrap: break-word;
    padding: 1vh;
    text-decoration: none;
}

book-menu {
    display: block;
    margin-top: 8vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #323232;
    cursor: default;
    grid-area: aside;
    /*padding: 1vh;*/
    width: 20vw;
    overflow-y: scroll;
    box-shadow: 0px 10px 5px 0 lightslategrey;
}

article {
    grid-area: article;
    overflow-wrap: break-word;
    background-color: #ffffdc80;
    padding: 2vw;
    overflow: hidden;
    font-family: "Times New Roman", sans-serif;
}
