<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problem: Em</title>
</head>
<body>
<h3>em</h3>
<div style="font-size: 1em">Default text size</div>
<my-webcomp>
    <div style="font-size: 1.5em">This text is 1.5 times larger relative to the text above</div>
</my-webcomp>
<div style="font-size: 2em">My size is twice larger as the default text size</div>
<hr>
<h3>%</h3>
<div style="font-size: 100%">Default text size</div>
<my-webcomp>
    <div style="font-size: 130%">This text is 130% larger relative to the text above</div>
</my-webcomp>


<script>
  class MyWebcomponent extends HTMLElement {
    constructor() {
      super();
      this.attachShadow({mode: "open"});
      this.shadowRoot.innerHTML = `
        <div style="font-size: 30px;">My size is 30 px. And it is defined inside shadowDOM.
            <slot></slot>
        </div>`;
    }
  }

  customElements.define("my-webcomp", MyWebcomponent);
</script>
</body>
</html>